DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_pass
FOOD_DATA_SERVICE_API_KEY=0yZtEx...
APP_ADMIN_EMAIL=admin@example.com
APP_ADMIN_PASSWORD=change-me-strong-password
USDA_ENABLED=true
OPEN_FOOD_FACTS_ENABLED=false
